body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b86b00; 
    margin: 40px 0 20px 0;
}

.box {
    max-width: 700px;
    margin: 20px auto; 
    padding: 30px;
    background-color: #fff0e0; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #5a3e2b;
    flex: 1; 
}
.box h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b86b00; 
    margin-top: 20px;
}
.box p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0 20px 0;
}


.footer {
    background-color: #b86b00; 
    color: beige;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}